/* Init */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* Variables */
:root {
  --font: "Crimson Text", serif;
  --clr-primary-dark: #333332;
  --clr-secondary-dark: #172e1b;
  --clr-primary-light: #e1dac7;
  --clr-accent: #d46c07;
  --inspect: solid red 1px;
}

/* Main Styling */
body {
  font-family: var(--font);
  background-color: var(--clr-primary-light);
}

.nav-btn {
  margin: 0 right;
  height: 60px;
  width: 60px;
}

main {
  position: relative;
}

.nav-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  width: 0px;
  overflow: hidden;
  height: 400px;
  background-color: var(--clr-secondary-dark);
  color: var(--clr-primary-light);
  transition: 500ms ease;
}

.nav-open {
  width: 200px;
}
